$alert-padding-y: 20px;
$alert-padding-x: 20px;
$alert-margin-bottom: 20px;
$alert-border-radius: 0px;
$alert-link-font-weight: bold;
$alert-border-width: 0px;
$alert-dismissible-padding-r: $alert-padding-x * 3; // 3x covers width of x plus default padding on either side